//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
            &kp Q  &kp W           &kp E        &kp R         &kp T        &kp Y      &kp U        &kp I         &kp O       &kp P
            &kp A  &hm LEFT_ALT S  &hm LCTRL D  &hm LSHIFT F  &kp G        &kp H      &hm RSHFT J  &hm RCTRL K   &hm RALT L  &hm LCMD SEMICOLON
&kp ESCAPE  &kp Z  &kp X           &kp C        &kp V         &kp B        &kp N      &kp M        &kp COMMA     &kp DOT     &kp SLASH           &kp SQT
                                   &kp MINUS    &lt 1 TAB     &kp SPACE    &kp ENTER  &lt 2 BSPC   &lt 3 DELETE
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
        &kp QUESTION  &kp AT_SIGN      &kp AMPERSAND  &kp DOLLAR      &kp MINUS    &kp PAGE_UP    &kp HOME   &kp ASTERISK  &kp END    &trans
        &trans        &kp HASH         &kp SLASH      &kp UNDERSCORE  &kp PLUS     &kp PAGE_DOWN  &kp LEFT   &kp UP_ARROW  &kp RIGHT  &kp RIGHT_SHIFT
&trans  &trans        &kp EXCLAMATION  &kp PIPE       &kp TILDE       &kp EQUAL    &kp LC(C)      &kp LC(V)  &kp DOWN      &kp END    &trans           &kp DOUBLE_QUOTES
                                       &trans         &trans          &trans       &trans         &trans     &trans
            >;
        };

        Sym {
            label = "Sym";
            bindings = <
        &kp N0  &kp N7        &kp N8        &kp N9        &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &trans  &trans  &trans  &trans
        &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &trans  &trans  &trans  &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_BRACE          &kp RIGHT_BRACE        &trans  &trans  &trans  &trans  &trans
                              &trans        &trans        &trans                  &trans                 &trans  &trans
            >;
        };

        other {
            bindings = <
        &kp F1  &kp F2             &kp F3           &kp F4      &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
        &trans  &trans             &trans           &trans      &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE  &trans    &trans  &trans  &trans  &trans  &trans   &trans
                                   &trans           &trans      &trans    &trans  &trans  &trans
            >;
        };
    };
};
